<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body style="font-size:20px; padding:50px;">

    <form action='/login' method='POST'>
    <input type='text' name='username' value= '<%=username %>'>
    <br>
    <input type='submit' value='Update'>
    </form>
  </body>