<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px; background-size: cover; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/images/dank.jpg')">>
    <form action='/register' method='POST'>
    <h1><font color="red">ENTER YOUR EMAIL</font></h1>
    <input type='email' name='email' value='' >
    <h1><font color="red">TELL US A SECRET</font></h1>
    <input type='password' name='password' value= ''>
    <input type='submit' value='WELCOME'>
    <h1><font color="red">back to </font><a href='/login'><font color="red">login</font></a></h1>
    </form>
  </body>
</html>