<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <table>
    <h2><a href='/urls/new'>new</a><h2>
    <% for(key in urls) { %>
      <ol>
        <li><%= key %>: <%= urls[key].longUrl %>
        <a href='/urls/<%=key%>'>edit</a></li>
        <form action='/urls/<%=key%>/delete' method='POST'>
        <button>Delete</button>
        </form></li>
      </ol>
    <% } %>
    </table>
</body>
</html>