<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>BabyGap</title>
    <% include ./partials/_header %>
  </head>
  <body>
    <tr>
      <br>
      <th>ShortURL: <%= shortURL %> </th>
      <tr>
      <form action='/urls/<%= shortURL %>' method='POST'>
      <input type='text' name= 'longURL' value= <%= longURL.longUrl %> ><br>
      <input type='submit' value='Update'>
      <a href='/urls'>back</a>
      </form>
      </tr>
    </tr>
  </body>
</html>