<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <table>
    <% for(key in urls) { %>
      <tr>
        <td><%= key %>: <%= urls[key].longUrl %></td>
        <td><a href='/urls/<%=key%>'>edit</a></td>
        <td><form action='/urls/<%=key%>/delete' method='POST'>
        <button>Delete</button>
        </form></td>
      </tr>
    <% } %>
    </table>
</body>
</html>